/* Estilo para el body */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  container: center;
}
/* Estilos para la sección principal */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Estilo para la imagen institucional */
img {
  display: flex;
  margin: auto;
  margin-top: 0;
  margin-bottom: 5px;
  justify-content: center;

}

/* Estilo para el encabezado */
h1 {
  font-family: Verdana sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: auto;
}

h2 {
  font-family: Arial sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para el botón de agregar curso */
.btn-success {
  margin-right: 100px;
}


/* Estilo para la tabla de cursos*/
table {
  border-collapse: unset;
  width: 80%;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  align-content: center;
  text-align: center;
}

thead {
  justify-content: center;
}

th, td {
  font-size: 12px;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-size-adjust: auto;
  padding: 5px;
}

th {
  background-color: #6c6c6c;
  color: white;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #d5d2d2;
}

/*Estilo para los botones de editar y eliminar */
.btn-warning, .btn-danger {
  margin-right: 2px;
}


/* Estilos para los mensajes de error */
.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
}
